h1,.type-zip{

	text-align: center;
	font-family: 'Denk One', sans-serif;
}

.type-zip{
	font-size: 20px;
}

ul{
	list-style-type: none;
    margin-top: 0;
    overflow: hidden;
	background-color: orange;
	
}

h1{
	color:white;
	text-align: center;
}

.logo{
	float: left;
	margin-left:100px;

}

.ball{
	float:right;
	margin-right: 150px;
	margin-top: -90px;
}

.type-zip{
	color:white;
}

#zip{
	padding:5px;
}

#sub{
	background-color: green;
	width:100px;
	height: 30px;
	border-radius: 8px;
}


#map{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width:60%;
	height: 500px;
	background-color: lightgray;
}


/*@media only screen and (max-width: 500px) {
    body {
       background-size: 50%;
    }*/

=======
>>>>>>> add alert
.hidden{
	display: none;
}